.write  {

    
    
    display: flex;
    flex-direction: column;

    
 
}

.writeFormGroup>img{


    display: flex;
    justify-content: center;
    width : 27rem;
    padding : 1.7rem;
    height : 300px;
    top : -rem;
    align-items : center;
    flex-direction: column;




}



.writeFormGroup  {

    display: flex;
    flex-direction: column;
    margin : 20px 20px 0px 380px;
    
}

.formInputs  {

    width : 500px;
    background-color: #0071c2;
    padding : 10px;
    margin-top: 20px;    
    border-radius: 10px;
    font-size: 16px;
    gap : 5px;
    
}




.publishBtn  {

    width : 520px;
    margin  : 10px 0px 10px 0px;
    padding : 10px;
    background-color: #0071c2;
    border-radius: 10px;
    color : white;
    font-size : 15px;
}

input::placeholder{
    color : white;
    font-size: 10px;
}
textarea::placeholder{

    color : white;
}
input {

    color : white;
}
textarea{
    color : white;
}

.writeBlogTitle  {

    margin : 100px 20px 0px 100px;
    color : #0071c2;
    
}
.btnUpload  {

    background-color: #0071c2;
}
