.s-heading{

    display: flex;
    justify-content: center;
    gap : 10px;
    flex-direction :column;
    align-items : center;
    margin-top: 40px;

}
.h-heading>:nth-child(1){

    color : var(--orange);
    font-size: 1rem;


}
.h-heading>:nth-child(2) {

    color : var(--black);
    font-size: 2rem;


}
.h-heading>:nth-child(3) {

    color : var(--black);
    font-size: 2rem;


}

.features{

    display: flex;
    justify-content: center;
    gap : 2rem;
    align-items : center;
    margin-top: 1rem;
}



.feature1{

    display: flex;
    flex-direction : column;
    justify-content: center;
    align-items : center;
    gap : 1rem;
    margin-top: 4rem;
}

.imageWrapper>img {

    width : 10rem;
    height : 10rem;
    
}
.feature2{

    display: flex;
    flex-direction : column;
    justify-content: center;
    align-items : center;
    gap : 1rem;
    margin-top: 4rem;
}
.feature3{

    display: flex;
    flex-direction : column;
    justify-content: center;
    align-items : center;
    gap : 1rem;
    margin-top: 4rem;
}
.feature1>:nth-child(2){

    color : var(--orange);
}

