.user {

    display: flex;
    flex-direction: column;
    
    
}

.userComponent{

    display: flex;
    gap : 10px;
    margin : 10px;

    
}



.spanText  {

    color : red;
    background-color: #0071c2;
}