.post  {


        width : 100%;
        max-width : 1024px;
}




.postsDtls  {



        display: flex;
        flex-direction: column;
        gap : 40px;
        text-align: center;
        margin-top: 20px;
}

.titleText  {

        font-size: 20px;
        
}

.singlePost  {

        display: flex;
        flex-direction: column;
        margin  : 10px 60px 0px 60px;

}
.changeBtns  {


        display: flex;
        flex-direction: column;
        align-items: center;
        gap  : 20px;
}

.postTitle  {

        margin-left: 500px;
}