.login  {



    width : 100%;
}

.formLogin {

    display: flex;
    flex-direction: column;
    width : 600px;
    margin : 100px 20px 0px 300px;
    gap  : 20px;
    
    
}

.formBtn {

   

     padding : 5px;
     border-radius : 10px;
     background-color: light green;
     color : white;
     font-size : 15px;
     cursor : pointer;
}
.formRgsBtn  {

    width : 600px;
    padding : 10px;
    background-color: green;
    border-radius : 10px;
    color : red;
    font-size : 20px;
    cursor : pointer;
}

.formBtn:disabled  {

    cursor : not-allowed;
    background-color:green;
}
.inputForm {

    
    color : white;
}
.inputForm::placeholder {

    color : white;
}

h1{

    margin-left : 250px;
    color : #0071c2;


}

.logInItems {

    display: flex;
    flex-direction: column;
    gap : 20px;
    margin : 180px 20px 0px 400px;
}

.spanText  {

    margin-left: 150px;
}

