.login  {

    margin-top: 40px;
    padding : 200px 350px;


    
}

.formLogin {

    display: flex;
    flex-direction: column;
    width : 600px;
    gap  : 20px;
    
    
}

.formBtn {   

     
     border-radius : 10px;
     background-color:#0071c2;
     color : white;
     font-size : 15px;
     cursor : pointer;
     padding : 10px;
     
}


.formBtn:disabled  {

    cursor : not-allowed;
    background-color:green;
}
.inputForm {

    
    padding : 10px;    
    font-size: 15px;
    border : none;
    
}
.inputForm::placeholder{

    font-size: 15px;
    font-weight: 400;
    color : black;

}



.logInItems {

    display: flex;
    flex-direction: column;
    gap : 20px;
    margin : 180px 20px 0px 400px;
}

.spanText  {

    margin-left: 150px;
}



.btmBtnx {

    width : 600px;
    margin : 10px 40px 0px 0px;
    padding : 10px;
    border-radius: 10px;
    background-color: #0071c2;
    color : white;
    cursor : pointer;
}


