.post {

    width : 385px;
    margin : 10px 25px 10px 15px;
}

.postImg{

    width : 100%;
    height : 280px;
    border-radius : 7px;

}
.postInfo{

    display: flex;
    flex-direction: column;
    align-items: center;
    position : relative;
}
.postTitle  {


}

.postCat{

    margin-top: 15px;
    margin-left: 10px;
    margin-bottom : 15px;
    color : #be9256;
    gap : 10px;
   
}

.postDate {
    font-size : 15px;
    color : #444;


}

.postDesc  {
    display: flex;
    font-family : "varela round", sans-serif;
    line-height : 24px;
    margin-top: 15px;
    font-size : 15px;
    overflow : hidden;
    text-overflow : ellipsis;
    display : -webkit-box;
    -webkit-line-clamp : 4;
    -webkit-box-orient : vertical;

}
.spanCat {

    margin-left : 10px;
}



.postInput {

    width : 200px;
    
}
.postCat .updateIcon{


    position: absolute;
    padding : 5px;



}
