.post  {


    width  : 100%;
    max-width  : 1024px;
}

.postDtls  {

    display: flex;
    flex-direction: column;
    margin : 10px 20px 0px 400px;

}

.spanItems  {

    margin-top: 20px;
    gap : 20px;
    
}

.inputCompnts {

    display: flex;
    flex-direction: column;
    gap : 10px;
    margin-top: 20px;
    
}

.inputText  {

    padding : 10px;
    color : white;
    background-color: #0071c2;
    font-size: 18px;
    border-radius: 10px;
    text-align: center;
}

.upDateBtn  {

    background-color: #0071c2;
    font-size: 12px;
    padding : 10px;
    border-radius : 10px;
    font-size: 15px;
    color : white;
}

.testTitle  {


    color : red;
}

.inputItems  {


    background-color: #0071c2;
    padding : 10px;
    border-radius  : 10px;
}

.textArea  {

    background-color: #0071c2;
    padding : 10px;
}

.updateBtn  {


    margin-top: 20px;
    padding : 10px;
    border-radius  : 10px;
    background-color: #0071c2;
    color  : white;
}