.updateForm  {



    display: flex;
    flex-direction: column;
    gap : 20px;
    width : 950px;
    margin : 10px 20px 0px 110px;
}

.inputForm  {


    background-color: #0071c2;
    gap  : 20px;
}

.updateTitle  {

    margin-left : 380px;
}

.updateBtn  {

    padding : 10px;
    background-color: #0071c2;
    color : white;
    cursor : pointer
}

.spanBtm  {

    background-color: #0071c2;
    color : white;
}

.userDtls {

    color :red;
}