
.register {

    margin-top: 20px;    
    padding :200px 350px;

    
}

.formRegister {

    display: flex;
    flex-direction: column;
    width : 600px;
    gap  : 10px;
    




}

.inputForm{

    padding : 10px;
    border-radius : 5px;
    border :none;
    color : black;
}

.formBtn {

     padding : 10px;
     border-radius : 5px;
     background-color: #0071c2;
     color : white;
     
     cursor : pointer;
}



.btmBtn {

    width : 600px;
    margin : 10px 40px 0px 0px;
    padding : 10px;
    border-radius: 5px;
    background-color: #0071c2;
    color : white;
    cursor : pointer;
}

h1 {
    text-align: center;
    color : black;
    font-weight: 600;
    font-size: 30px;


}

h2 {

    text-align : center;
    font-weight: 500;
    color : gray;
    font-size: 18px;
    
}